<html>
    
<h1>What's In My Fridge</h1>


<body class="backgroud" url="Frontbackgroud.jpg">
<form method="get" action='/result'>
    Email:<input type="email" name="useremail"/><br>
    Password<input type="password" name="userpass"/><br>
</form>
<a href ='/aboutus'>About us</a>
<a href='/contactus'>Contact us</a>
<a href='/auth/twitter'> Log in with twitter </a>
</body>

</html>