<h1>What's In My Fridge</h1>


<form method="get" action='/result'>
    Email:<input type="email" name="useremail"/><br>
    Password<input type="password" name="userpass"/><br>
</form>

<a href='/auth/twitter'> Log in with twitter </a>