-#  This file is app/views/fridge/index.html.haml
%h2 Select How You Feel!

%table#fridges
  %thead
    %tr
  = link_to 'My profile' 
  %br/
  = link_to 'Log Out'
  %br/
  = link_to 'Let me explore the world!', '/countries'
  %br/
  = link_to 'Nah I am just hungry'
  %br/


-#= link_to 'Add new recipe', new_fridge_path
